* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  font-family: "Arial";
  font-size: 1.5rem;
  color: white;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

a:visited, a:active, a:link {
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: white;
}
.header .menu__list {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  height: 100px;
  margin: 0 auto;
  background: #5C5C5C;
  align-items: center;
}
.header .menu__list li {
  padding: 20px;
  text-align: center;
  border: 1.5px solid white;
  border-radius: 0.5rem;
}

.content {
  display: flex;
  flex: 1 1 auto;
  margin-top: 101.5px;
  flex-direction: column;
}

.room__row {
  display: flex;
  min-height: 100px;
  color: white;
  background-color: #5C5C5C;
  border: 1.5px solid white;
  justify-content: space-between;
  padding: 2px;
  flex-flow: row nowrap;
  border-radius: 0.5rem;
}

.room__clock-debug, .room__temperature-name {
  display: flex;
  justify-content: space-between;
  flex: 0 0 75%;
  align-self: start;
  padding: 1%;
}

.room__clock-debug {
  flex-flow: row nowrap;
}

.room__debug {
  margin: 0 20% 0 0;
}

.room__block-status {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  flex: 0 0 25%;
  margin: 0.5% 0;
}

.room__temperature-name {
  flex-flow: column nowrap;
}

.room__temperature-block {
  display: flex;
  align-self: center;
  flex-flow: column nowrap;
}

.room__temperature-value {
  margin: 0 0 0 60%;
  font-size: 1.05rem;
}

.room__state, .room__settings {
  align-self: center;
}

.footer {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
}
.footer .footer__content {
  background-color: white;
  color: black;
  font-size: 1.2rem;
  margin: 10px 0;
}
