* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Arial";
  font-size: 1.5rem;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  color: #ffffff;
}

.all-room {
  margin: -1.5px 0 0 0;
}

.all-room__row, .room__row {
  display: flex;
  justify-content: space-between;
  background-color: #5C5C5C;
  border-radius: 0.5rem;
  border: 1.5px solid white;
  padding: 1% 1% 1% 1%;
  align-self: center;
}

.all-room__clock-debug {
  display: flex;
  flex-direction: row;
  flex: 0 0 70%;
  flex-wrap: nowrap;
}

.all-room__clock-block, .room__temperature-name {
  display: flex;
  flex-direction: column;
  flex: 0 0 70%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: center;
}

.all-room__debug {
  align-items: center;
}

.all-room__temperature-block, .room__temperature-block {
  display: flex;
  align-self: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.room__temperature {
  font-size: 1.35rem;
}

.room__name {
  margin: 2% 0 0 0;
}

.all-room__temperature-value, .room__temperature-value {
  margin: 0 0 0 60%;
  font-size: 1.05rem;
}

.all-room__state, .room__state {
  align-self: center;
}

.all-room__settings, .room__settings {
  align-self: center;
}

footer.footer .container {
  background-color: white;
  color: black;
  font-size: 1.2rem;
}
footer.footer .container .footer__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0 3% 0;
}
